template(name="textBox")
    .form-group.col-md-6
        input.form-control(type='text'  value=value data-msg-required=msgRequired  maxlength=maxLength name=name id=name  placeholder=placeholder  required=required)
